*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    background-image: url(./images/Custom\ BackGround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgb(255, 255, 255,);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: rgb(78, 78, 78);
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #0000008e;
}

::placeholder{
    color: white;
}

.search-bar button img{
    width: 25px;
}

.search-bar button img{
    border: 0;
    border-radius: 5%;
    width: 65px;
    height: 65px;
    background: #0000008e;
    cursor: pointer;
}